@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome back!</h1>
    <p>This is a collection of .NET related questions & answers, for fast review...</p>
</div>
